* {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p, button {
	max-width: 300px;
	border: 1px solid black;
	padding: 20px;
	margin: 0 auto 20px 50px;
 	background-color: white;
 	position: relative;
}

button, input[type='button'] {
	width: 100px;
	height: 100px;
}

#container {
	z-index: 1;
	position: fixed;
	width: 100%;
	min-height: 100vh;
	background-color: white;
}

.next, .prev {
	display: none;
}